<div style="padding: 100px">
<h1 style="text-align:center" >Bienvenido a {{title}}</h1>

<form style="text-align:center">
  
  <div class="form-group">
  <div class="mb-2">
    <label class="form-label">Ingrese un número:</label>
<input type='number' [(ngModel)]="number1" name='number1'></div>
<div class="mb-2">
  <label class="form-label">Ingrese un número:</label>
<input type='number' [(ngModel)]="number2" name='number2'></div>

<button type="submit" class="btn btn-primary" (click)="sumar()">SUMAR</button>
<button type="submit" class="btn btn-secondary" (click)="restar()">RESTAR</button>
<button type="submit"class="btn btn-dark"(click)="multiplicar()">MULTIPLICAR</button>
<button type="submit" class="btn btn-danger" (click)="dividir()">DIVIDIR</button></div>
</form>

<h2 style="text-align:center">Resultado: {{result}}</h2>
</div>